{% extends 'base.html' %}
{% load static %}
{% block metadescription %}
{% if category %}
     {{category.description|truncatewords:155}}
      {% else %}
      welcome to abc store where you can buy different items...
{% endif %}
{% endblock %}

{% block title %}
{% if category %}
     {{category.name}}-ABC store
      {% else %}
      see our new collection abc store
{% endif %}
{% endblock %}

{% block content %}
{% if category %}
<div class="row my_pro_row_class">
  <div class="mx_auto">
    <p><a href="{% url 'shop:allproduct' %}">home</a></p>
  </div>
</div>
{% endif %}
<div class="mx_auto">
    {% if category %}
    <img  class="my_image" src="{{category.image.url}}" alt="{{category.name}}">
</div>
 <br>
<div>
    <h1 class="text-center my_title">{{category.name}}</h1>
    <p class="text-justify">{{category.description}}</p>
</div>
 {% else %}
 <div>
 <img class="myimage my_image_padding" src="{% static 'img/banner.png'%}"alt="our products" width="1125">
  </div>
  <br>
    <div>
   <h1 class="text-center my_title"> our product collection</h1>
   <p class="text-justify">  All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc.</p>
    </div>
  {% endif %}
<div class="container">
    <div class="row mx_auto">
        {% for product in products.object_list %}
        <div class="bottom-margin col-9 col-sm-12 col-md-4  col-lg-4">
            <div class="card text-center" style="min-width:18rem;">
            <a href="{{product.get_url}}"><img class="card-img-top my_image" src="{{product.image.url}}" alt="{{Product.name}}"></a>
        <div class="card-body">
            <h4>{{product.name}}</h4>
            <p><h4>{{product.price}}</h4></p>
        </div>
        </div>
        </div>
        {% endfor %}
    </div>
    <div class="mx_auto">
        {% if products.paginator.num_pages > 1 %}
      <hr>
        <div class="text-center">
              {% for pg in products.paginator.page_range  %}
            <a href="?page={{pg}}" class="btn btn-light btn-sm {% if products.number == pg %}> active {% endif %}">{{pg}}</a>
            {% endfor %}
        </div>
        {% endif %}
    </div>
    <br>
</div>

 {% endblock %}